[Unit]
Description=Job Service

Requires=job-discovery@%i.service
Before=job-discovery@%i.service
After=redis.service
After=docker.service
After=rabbitmq.service
After=elasticsearch.service

[Service]
KillMode=none
Restart=always
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker rm -f job
ExecStartPre=/usr/bin/docker pull quay.io/rolene/service
ExecStart=/usr/bin/docker run -p 83:83 -p 8083:8083 -v /home/core/volume/job:/var/lib/service --name job quay.io/rolene/service
ExecStop=/usr/bin/docker stop job

[X-Fleet]
Conflicts=job@*.service
