[Unit]
Description=WEB Service Discovery

Requires=web@%i.service
After=web@%i.service

BindsTo=web@%i.service

[Service]
Restart=always
EnvironmentFile=/etc/environment
ExecStart=/bin/bash -c "\
	while true; do \
	curl -f ${COREOS_PRIVATE_IPV4}:80; \
	if [ $? -eq 0 ]; then \
	  etcdctl set /agiper.com/rolene/web/${COREOS_PRIVATE_IPV4} '${COREOS_PRIVATE_IPV4}:80' --ttl 120; \
	else \
	  etcdctl rm /agiper.com/rolene/web/${COREOS_PRIVATE_IPV4}; \
	fi; \
	sleep 60; \
	done"
ExecStop=-/usr/bin/etcdctl rm /agiper.com/rolene/web/${COREOS_PRIVATE_IPV4}

[X-Fleet]
MachineOf=web@%i.service
