[Unit]
Description=Elastic Service

After=docker.service
Before=elastic-discovery.service
Requires=elastic-discovery.service

[Service]
KillMode=none
Restart=always
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker rm -f elastic
ExecStartPre=/usr/bin/docker pull quay.io/agiper/elastic
ExecStart=/usr/bin/docker run -p 5601:5601 -p 9200:9200 -p 9300:9300 --name elastic quay.io/agiper/elastic
ExecStop=/usr/bin/docker stop elastic

[X-Fleet]
Conflicts=elastic.service
