[Unit]
Description=Elastic Service Discovery

Requires=elastic.service
After=elastic.service

BindsTo=elastic.service

[Service]
Restart=always
EnvironmentFile=/etc/environment
ExecStart=/bin/sh -c "while true; do etcdctl set /agiper.com/elastic '${COREOS_PRIVATE_IPV4}' --ttl 600; sleep 300; done"
ExecStop=-/usr/bin/etcdctl rm /agiper.com/elastic

[X-Fleet]
MachineOf=elastic.service
