[Unit]
Description=Job Host Service

After=redis.service
After=docker.service
After=rabbitmq.service
After=elasticsearch.service
Before=job-host-discovery@%i.service
Requires=job-host-discovery@%i.service

[Service]
KillMode=none
Restart=always
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker rm -f job-host
ExecStartPre=/usr/bin/docker pull quay.io/agiper/host
ExecStart=/usr/bin/docker run -p 83:83 -p 8083:8083 -v /home/core/volume/job-host:/var/lib/host --name job-host -h job-host@%i quay.io/agiper/host
ExecStop=/usr/bin/docker stop job-host

[X-Fleet]
Conflicts=job-host@*.service
