[Unit]
Description=Job Host Service Discovery

After=job-host@%i.service
Requires=job-host@%i.service

BindsTo=job-host@%i.service

[Service]
Restart=always
EnvironmentFile=/etc/environment
ExecStart=/bin/bash -c "\
	while true; do \
	sleep 60; \
	curl -f ${COREOS_PRIVATE_IPV4}:83; \
	if [ $? -eq 0 ]; then \
	  etcdctl set /agiper.com/host/job/${COREOS_PRIVATE_IPV4} '${COREOS_PRIVATE_IPV4}:83' --ttl 120; \
	else \
	  etcdctl rm /agiper.com/host/job/${COREOS_PRIVATE_IPV4}; \
	fi; \
	done"
ExecStop=-/usr/bin/etcdctl rm /agiper.com/host/job/${COREOS_PRIVATE_IPV4}

[X-Fleet]
MachineOf=job-host@%i.service
