[Unit]
Description=Job Host Service

After=redis.service
After=docker.service
After=elastic.service
After=rabbitmq.service
Before=jobhost-discovery@%i.service
Requires=jobhost-discovery@%i.service

[Service]
KillMode=none
Restart=always
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker rm -f jobhost
ExecStartPre=/usr/bin/docker pull agiper/coreapp
ExecStart=/usr/bin/docker run -m 512M -p 83:83 -p 8083:8083 -v /home/core/volume/host/job:/var/lib/host -e EXEC='Rolene.Server.Host.Job.dll' -h jobhost-%i --name jobhost agiper/coreapp
ExecStop=/usr/bin/docker stop jobhost

[X-Fleet]
Conflicts=jobhost@*.service
