[Unit]
Description=Logstash Service

Requires=logstash-discovery.service
Before=logstash-discovery.service
After=docker.service

[Service]
KillMode=none
Restart=always
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker rm -f logstash
ExecStartPre=/usr/bin/docker pull quay.io/agiper/elastic
ExecStart=/usr/bin/docker run -p 9300:9300 --name logstash quay.io/agiper/elastic
ExecStop=/usr/bin/docker stop logstash

[X-Fleet]
Conflicts=logstash.service
