[Unit]
Description=Nginx Service Discovery

Requires=nginx.service
After=nginx.service

BindsTo=nginx.service

[Service]
Restart=always
EnvironmentFile=/etc/environment
ExecStart=/bin/sh -c "while true; do etcdctl set /agiper.com/nginx '${COREOS_PRIVATE_IPV4}:8080' --ttl 600; sleep 300; done"
ExecStop=-/usr/bin/etcdctl rm /agiper.com/nginx

[X-Fleet]
MachineOf=nginx.service
