[Unit]
Description=Redis Service

After=docker.service
Before=redis-discovery.service
Requires=redis-discovery.service

[Service]
KillMode=none
Restart=always
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker rm -f redis
ExecStartPre=/usr/bin/docker pull quay.io/agiper/redis
ExecStart=/usr/bin/docker run -m 1G -p 6379:6379 --name redis quay.io/agiper/redis
ExecStop=/usr/bin/docker stop redis

[X-Fleet]
Conflicts=redis.service
