[Unit]
Description=API Service

Requires=api-discovery@%i.service
Before=api-discovery@%i.service
After=nginx.service
After=redis.service
After=docker.service
After=rabbitmq.service
After=elasticsearch.service

[Service]
KillMode=none
Restart=always
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker rm -f api
ExecStartPre=/usr/bin/docker pull quay.io/agiper/service
ExecStart=/usr/bin/docker run -p 81:81 -p 8081:8081 -v /home/core/volume/api:/var/lib/service --name api quay.io/agiper/service
ExecStop=/usr/bin/docker stop api

[X-Fleet]
Conflicts=api@*.service
