[Unit]
Description=MVC Service

Requires=mvc-discovery@%i.service
Before=mvc-discovery@%i.service
After=redis.service
After=docker.service
After=rabbitmq.service
After=elasticsearch.service

[Service]
KillMode=none
Restart=always
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker rm -f mvc
ExecStartPre=/usr/bin/docker pull quay.io/agiper/service
ExecStart=/usr/bin/docker run -p 80:80 -p 8080:8080 -v /home/core/volume/mvc:/var/lib/service --name mvc quay.io/agiper/service
ExecStop=/usr/bin/docker stop mvc

[X-Fleet]
Conflicts=mvc@*.service
