[Unit]
Description=SQL Server Service

After=docker.service
Before=sqlserver-discovery.service
Requires=sqlserver-discovery.service

[Service]
KillMode=none
Restart=always
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker rm -f sqlserver
ExecStartPre=/usr/bin/docker pull quay.io/agiper/sqlserver
ExecStart=/usr/bin/docker run -m 1G -p 1433:1433 -v /home/core/volume/sqlserver:/var/lib/sqlserver --name sqlserver quay.io/agiper/sqlserver
ExecStop=/usr/bin/docker stop sqlserver

[X-Fleet]
Conflicts=sqlserver.service
