[Unit]
Description=SQL Server Service Discovery

Requires=sqlserver.service
After=sqlserver.service

BindsTo=sqlserver.service

[Service]
Restart=always
EnvironmentFile=/etc/environment
ExecStart=/bin/sh -c "while true; do etcdctl set /agiper.com/database '${COREOS_PRIVATE_IPV4}' --ttl 600; sleep 300; done"
ExecStop=-/usr/bin/etcdctl rm /agiper.com/sqlserver

[X-Fleet]
MachineOf=sqlserver.service
