[Unit]
Description=SSE Host ervice Discovery

After=sse-host.service
Requires=sse-host.service

BindsTo=sse-host.service

[Service]
Restart=always
EnvironmentFile=/etc/environment
ExecStart=/bin/bash -c "\
	while true; do \
	curl -f ${COREOS_PRIVATE_IPV4}:82; \
	if [ $? -eq 0 ]; then \
	  etcdctl set /agiper.com/host/sse '${COREOS_PRIVATE_IPV4}:82' --ttl 120; \
	else \
	  etcdctl rm /agiper.com/host/sse; \
	fi; \
	sleep 60; \
	done"
ExecStop=-/usr/bin/etcdctl rm /agiper.com/host/sse

[X-Fleet]
MachineOf=sse-host.service
