[Unit]
Description=Web Host Service Discovery

After=web-host@%i.service
Requires=web-host@%i.service

BindsTo=web-host@%i.service

[Service]
Restart=always
EnvironmentFile=/etc/environment
ExecStart=/bin/bash -c "\
	while true; do \
	sleep 60; \
	curl -f ${COREOS_PRIVATE_IPV4}:8080; \
	if [ $? -eq 0 ]; then \
	  etcdctl set /agiper.com/host/web/${COREOS_PRIVATE_IPV4} '${COREOS_PRIVATE_IPV4}:80' --ttl 120; \
	else \
	  etcdctl rm /agiper.com/host/web/${COREOS_PRIVATE_IPV4}; \
	fi; \
	done"
ExecStop=-/usr/bin/etcdctl rm /agiper.com/host/web/${COREOS_PRIVATE_IPV4}

[X-Fleet]
MachineOf=web-host@%i.service
