[Unit]
Description=Web Host Service

After=redis.service
After=docker.service
After=elastic.service
After=rabbitmq.service
Before=webhost-discovery@%i.service
Requires=webhost-discovery@%i.service

[Service]
KillMode=none
Restart=always
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker rm -f webhost
ExecStartPre=/usr/bin/docker pull quay.io/agiper/dotnetapp
ExecStart=/usr/bin/docker run -p 80:80 -p 8080:8080 -v /home/core/volume/host/web:/var/lib/host -e EXEC='Rolene.Server.Host.Web.dll' --name webhost -h webhost-%i quay.io/agiper/dotnetapp
ExecStop=/usr/bin/docker stop webhost

[X-Fleet]
Conflicts=webhost@*.service
