[Unit]
Description=SSE Service

Requires=sse-discovery.service
Before=sse-discovery.service
After=redis.service
After=docker.service
After=rabbitmq.service
After=elasticsearch.service

[Service]
KillMode=none
Restart=always
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker rm -f sse
ExecStartPre=/usr/bin/docker pull quay.io/agiper/service
ExecStart=/usr/bin/docker run -p 82:82 -p 8082:8082 -v /home/core/volume/sse:/var/lib/service --name sse quay.io/agiper/service
ExecStop=/usr/bin/docker stop sse

[X-Fleet]
Conflicts=sse.service
